* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: rgb(199, 104, 104);
}

/* MAIN SECTION */

.container {
    width: 60%;
    margin: 10vh auto;
}

.header {
    text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.title h1 {
    font-size: 3em;
}

.title p {
    font-size: 1.5em;
}


/* COOKIE */

#cookie {
    transform: rotate(0deg);
    animation: rotate 40s linear infinite;
    width: 55%;
}

#cookie:active {
    width: 58%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media(max-width: 450px) {

    .title h1 {
        font-size: 2em;
    }

    #cookie {
        width: 95%;
    }

    #cookie:active {
        width: 100%;
    }
}